.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type='text'] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
  }
  
  .weather-container {
    text-align: center;
  }
  
  .temperature {
    font-size: 24px;
    font-weight: bold;
  }
  
  .description {
    text-transform: capitalize;
  }